<div style= "width: 1000px; height: 700px" >
  <div class="wish_image" style="height: 150px; width: 150px; display: block; background-color: red; margin: 0 30px 0 250px; float: left; ">
  </div>

  <div>
    <div style="width: 150px; float: left; margin-top: -5px">
      <p>Имя</p>
      <p>Ссылка на сайт</p>
      <p>Описание</p>
    </div>
    <div style="width: 400px; float: right">
      <%=  form_for @wish, :url => {:action => "update"} do |f| %>
          <%= f.text_field :name, :value => @wish.name%><br /><br />
          <%=  f.text_field :url, :value => @wish.url%><br /><br />
          <%=  f.text_area :description, :value => @wish.description%><br /><br />
          <p>Хочу на ... (1-5)</p>
          <%= f.text_field :rating, :value => @wish.rating %><br /><br />
          <%= f.hidden_field :owner_id, :value => @current_user.id %>
          <br /><br />
          <%=  f.submit "Сохранить", :border => 0 %>
		  <%=  f.submit "Отмена", :border => 0  %>
			<%=  link_to "Удалить", wish_path(@wish), :method => :delete %>
      <% end %>
    </div>
  </div>

</div>
