<div style= "width: 1000px; height: 700px" >
  <div class="wish_image" style="height: 150px; width: 150px; display: block; background-color: red; margin: 0px 10px 0px 0px; float: left; ">
  </div>

  <div style= "width: 800px; height: 700px">
    <div style="width: 100px; float: left; margin: -5px 5px 0px 0px">
      <p>Имя</p><br />
      <p>Ссылка на сайт</p><br />
      <p>Описание</p>
    </div>
    <div style="width: 530px; float: right; margin: -5px 0px 0px 0px; display: block;">

      <%=  form_for @wish, :url => {:action => "update"} do |f| %>
          <%= f.text_field :name %><span id="error_name"></span><br /><br />
          <%=  f.text_field :url %><span id="error_url"></span><br /><br />
          <%=  f.file_field :image %><span id="error_url"></span><br /><br />
          <%=  f.text_area :description%><br /><br />
          <p>Хочу на ... (1-5)</p>
          <%= f.text_field :rating, :value => @wish.rating %><span id="error_rating"></span><br /><br />
          <%= f.hidden_field :owner_id, :value => current_user.id %>
          <br /><br />
          <%=  f.submit "Сохранить", :border => 0, :id => "submit", :isEdit => true %>
			<%=  link_to "Удалить", wish_path(@wish), :method => :delete %>
      <% end %>
    </div>
  </div>

</div>