<div style= "width: 1000px; height: 700px" >
<div class="wish_image" style="height: 150px; width: 150px; display: block; background-color: red; margin: 0 30px 0 250px; float: left; ">
</div>

<div>
  <div style="width: 150px; float: left; margin-top: -5px">
  <p>Имя</p><br /><br />
  <p>Ссылка на сайт</p><br />
  <p>Описание</p>
  </div>
<div style="width: 400px; float: right">


<%=  form_for @wish, :url => {:action => "create"} do |f| %>
      <%= f.text_field :name, :value => @search_name.to_s %><br /><br />
      <%=  f.text_field :url, :value => @search_url.to_s %><br /><br />
      <%=  f.text_area :description %><br /><br />
      <p>Хочу на ... (1-5)</p>
      <%= f.text_field :rating %><br /><br />
      <%= f.hidden_field :owner_id, :value => current_user.id %>
      <%=  f.submit "Сохранить" %>

<% end %>
</div>
</div>

</div>
