<div class="friendslink" align="center">
  <%= link_to 'Все', :controller => 'friends', :action => 'index' %>
  <%= link_to '1 неделя', :controller => 'friends', :action => 'bdate_in_1_week' %>
  <%= link_to '2 недели', :controller => 'friends', :action => 'bdate_in_2_weeks' %>
  <%= link_to 'Месяц', :controller => 'friends', :action => 'bdate_in_1_month' %>
  <%= link_to 'Дата неизвестна', :controller => 'friends', :action => 'bdate_unknown' %>
</div>
</br>

<% if (@friends_1_week.size != 0)  %>
<% @friends_1_week.each do |f| %>
    <p>
      <p><%= link_to f.name, friend_path(f)  %></p>
      <p><%= image_tag f.avatar.url(:big)%></p>
      <% if f.is_user == true %>
        - is_user
      <% end %>  
    </p>
<% end %>
<% else %>
    <p>friendlist is empty</p>
<% end %>
