<div class="friendslink" align="center">
  <%= link_to 'Все', '#' %>
  <%= link_to '1 неделя', :controller => 'friends', :action => 'bdate_in_1_week' %>
  <%= link_to '2 недели', :controller => 'friends', :action => 'bdate_in_2_weeks' %>
  <%= link_to 'Месяц', :controller => 'friends', :action => 'bdate_in_1_month' %>
  <%= link_to 'Дата неизвестна', :controller => 'friends', :action => 'bdate_unknown' %>
</div>
</br>

<% if (@friends_1_week.size != 0)  %>
<% @friends_1_week.each do |f| %>
    <p><%= link_to f.name, friend_path(f)  %></p>
<% end %>
<% else %>
    <p>Your friendlist is empty</p>
<% end %>

<p>Count: <%= @friends_1_week.count %></p>
