<div class="friendslink" align="center">
<%= link_to 'Все', '#' %>
<%= link_to '1 неделя', :controller => 'friends', :action => 'bdate_in_1_week' %>
<%= link_to '2 недели', :controller => 'friends', :action => 'bdate_in_2_weeks' %>
<%= link_to 'Месяц', :controller => 'friends', :action => 'bdate_in_1_month' %>
<%= link_to 'Дата неизвестна', :controller => 'friends', :action => 'bdate_unknown' %>
</div>
</br>

<% if (@friends.size != 0)  %>
<% @friends.each do |f| %>
    <p>
      <p><%= f.name %></p>
      <p><%= link_to image_tag(f.avatar.url(:big)), friend_path(f)%></p>
      <% if f.is_user == true %>
        - is_user
      <% end %>  
    </p>
<% end %>
<% else %>
    <p>friendlist is empty</p>
<% end %>


