
<%= image_tag(@friend.vk_avatar_url, :class => 'FriendAvatar')%>
<div class="FriendInformation">
<p><%= @friend.name %></p>
<p><%=link_to 'http://vk.com/id' + @friend.vk_id,'http://vk.com/id' + @friend.vk_id  %></p>
<p>
  День рождения: 
  <% if @friend.birthday != nil %>
    <%= @friend.birthday.day %> /
    <%= @friend.birthday.month %>
    <% if @friend.birthday.year < 2012 %>
      / <%= @friend.birthday.year %>
    <% end %>
    <%= @days_till_bday %>
  <% else %>
    unknown 
  <% end %> 
</p>

<p>
  <% if @friend.is_user == true %>
  <br />
      <%  if (@wishes.size != 0)  %>
          <div id="container">
            <%@wishes.each do |w| %>
                <%= link_to image_tag(w.image, :border => 0, :class => 'item'), '#' %>
            <% end %>
          </div>
      <% else %>
          <p>Список желаний пуст</p>
      <% end %>

  <% else%>
    Этот человек не зарегистрирован в системе
  <% end %>
</p>
</div>



