<p><%= @friend.name %></p>
<p><%= image_tag(@friend.vk_avatar_url)%></p>
<p><%=link_to 'http://vk.com/id' + @friend.vk_id,'http://vk.com/id' + @friend.vk_id  %></p>
<p>
  Birthday: 
  <% if @friend.birthday != nil %>
    <%= @friend.birthday.day %> -
    <%= @friend.birthday.month %>
    <% if @friend.birthday.year < 2012 %>
      - <%= @friend.birthday.year %>
    <% end %>
  <% else %>
    unknown 
  <% end %> 
</p>

<br />
<br />

<p>
  <% if @friend.is_user == true %>
  Wishlist:<br />
      <%  if @wishes.size != 0 %>
          <% @wishes.each do |w| %>
              <p><%= image_tag(w.image, :border => 0, :class => 'WishIndexImage')%></p>
          <% end %>

      <% else %>
          <p>Список желаний пуст</p>
      <% end %>

  <% else%>
    this person is not registered in system
  <% end %>
</p>



