<p><%= @friend.name %></p>
<p><%= image_tag @friend.avatar.url(:medium)%></p>
<p><%=link_to 'http://vk.com/id' + @friend.vk_id,'http://vk.com/id' + @friend.vk_id  %></p>
<p>
  Birthday: 
  <% if @friend.birthday != nil %>
    <%= @friend.birthday.day %> -
    <%= @friend.birthday.month %>
    <% if @friend.birthday.year < 2012 %>
      - <%= @friend.birthday.year %>
    <% end %>
  <% else %>
    unknown 
  <% end %> 
</p>

</br>
</br>

<p>
  <% if @friend.is_user == true %>
  Wishlist:</br>
  <%@wishes.each do |w| %>
    <p><%= link_to w.name, wish_path(w) %></p>
<% end %>
  <% else%>
    this person is not registered in system
  <% end %>
</p>



