<h1>This is a <%= @title %> page </h1>
<h2>Please click login to enter the site via your VK account</h2>      <%if current_user%>
    <p><%= current_user.name %></p>
    <p><%= link_to "Logout", :controller => "landing", :action => "not_login" %></p>

<%else%>
    <p><%= link_to 'Login', 'auth/vkontakte' %></p>
<%end%>

<ul>
  <li>
    Site description
  </li>
  <li>
    Site description
  </li>
  <li>
    Site description
  </li>
</ul>

<p><%= link_to 'Login', login_path %> in the system</p>
<%= flash[:success] %>

