<!DOCTYPE html>
<html>
<head>
  <title>Wishlist Railsware project | <%= @title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%if current_user%>
      <p><%= current_user.name %></p>
      <p><%= link_to "Logout", :controller => "landing", :action => "not_login" %></p>

      <header class="mbl">
	<div class="row">
        <div class="col2of3">
	        <div class="row">
  		        <div class="col1of3">
			        <div class="logo">
                 <%= link_to image_tag("logo.png", :border => 0), home_path %>
                 </div>
		        </div>
   	 	        <div class="col2of3">
			        <nav class="mtm h2 mll">
    			    <%= link_to "Добавить желание", search_path,:class=>"link" %>
    			    <%= link_to "Мои желания", wishes_path,:class=>"link" %>
   			    	<%= link_to "Друзья", friends_path,:class=>"link" %>
    			    <%= link_to "Резерв", '#',:class=>"link" %>
			        </nav>
  		        </div>
	        </div>
        </div>
        <div class="profile col1of3">
          <div class="avatar" align="right">
            <div class="photo mts" align="center"></div>
            <div class="name h2 mtm pls" align="right">Анна Ротар</div>
            <div class="exit mtm mls" align="right">
           <%= link_to image_tag("exit.png", :border => 0), home_path %>
           </div>
           </div>
        </div>
	</div>
  <div class="polosa"></div>
</header>

<%else%>
<p><%= link_to 'Login', 'auth/vkontakte' %></p>
<%end%>

<%= yield %>
<footer>
  <div align="left">(C) 2012 Майвиш</div>
</footer>

</body>
</html>
