!!!
%html
    %head
        %title Wishlist Railsware project | #{@title}
        = stylesheet_link_tag    "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        %script{:src => "http://vkontakte.ru/js/api/openapi.js", :type => "text/javascript"}
        :javascript
            VK.init({
                apiId: ВАШ_API_ID
            });
    %body
        = yield