<!DOCTYPE html>
<html>
<head>
  <title>Wishlist Railsware project | <%= @title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%if current_user%> 
<p><%= current_user.name %></p>
<p><%= link_to "Logout", :controller => "landing", :action => "not_login" %></p> 

<header style="margin-bottom: 50px">

  <div class = "logo"></div>
  <div class = "profile"></div>
  <nav>
    <%= link_to "Добавить желание", new_wish_path %>
    <%= link_to "Мои желания", wishes_path %>
    <%= link_to "Друзья", friends_path %>
    <%= link_to "Резерв", '#' %>
  </nav>

</header>

<%else%>
<p><%= link_to 'Login', 'auth/vkontakte' %></p>
<%end%>

<%= yield %>

<footer style="margin-top: 50px">
  <div align="left">(C) 2012 Майвиш</div>
</footer>

</body>
</html>
